<nav class="sidebar">
    <div class="sidebar-icons">
      <!-- <div class="logo-icon">
        <img src="assets/profile_3135715.png" alt="Logo" />
      </div> -->
      <ul>
        <li><a routerLink="/"><img class="avatar" src="assets/camera.png" alt="User" /></a></li>
        <li><a routerLink="/"><lucide-icon name="Home" size="20"></lucide-icon></a></li>
        <li><a routerLink="/dashboard"><lucide-icon name="BarChart2" size="20"></lucide-icon></a></li>
        <li><a routerLink="/stack"><lucide-icon name="Layers" size="20"></lucide-icon></a></li>
        <li><a routerLink="/tasks"><lucide-icon name="ClipboardList" size="20"></lucide-icon></a></li>
        <li><a routerLink="/charts"><lucide-icon name="PieChart" size="20"></lucide-icon></a></li>
        <li><a routerLink="/users"><lucide-icon name="Users" size="20"></lucide-icon></a></li>
      </ul>
      <ul class="sidebar-bottom">
        <li><a routerLink="/users"><lucide-icon name="Settings" size="20"></lucide-icon></a></li>
        <li><a routerLink="/dashboard"><lucide-icon name="BarChart2" size="20"></lucide-icon></a></li>
        <li><a routerLink="/stack"><lucide-icon name="Layers" size="20"></lucide-icon></a></li>
        <li><a routerLink="/stack"><img class="avatar" src="assets/avatar.png" alt="User" /></a></li>
      </ul>
    </div>
  </nav>
